<a href="https://colab.research.google.com/github/MDankloff/ClusterCompas/blob/main/COMPAS_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore")
import os

# Specify the directory path
directory_path = '//Users/mirthedankloff/Documents/XAI_Bias_Error/COMPAS'

# Traverse the directory and print the names of all files
for dirname, _, filenames in os.walk(directory_path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [24]:
compas_2 = pd.read_csv('/content/compas-scores-two-years.csv')

columns_to_remove = ['name','first','last', 'dob', 'compas_screening_date', 'juv_fel_count', 'juv_misd_count', 'juv_other_count', 'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number', 'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
                     'c_charge_degree', 'c_charge_desc', 'r_case_number', 'r_charge_degree', 'r_days_from_arrest', 'r_offense_date', 'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid', 'vr_case_number', 'vr_charge_degree', 'vr_offense_date',
                     'vr_charge_desc', 'screening_date', 'v_screening_date', 'in_custody', 'out_custody', 'start', 'end', 'decile_score.1', 'v_score_text', 'type_of_assessment', 'v_type_of_assessment']
compas_2 = compas_2.drop(columns=columns_to_remove)
compas_2.head()
#print(compas_2)

,id,sex,age,age_cat,race,decile_score,priors_count,is_recid,is_violent_recid,score_text,v_decile_score,priors_count.1,event,two_year_recid
0,1,Male,69,Greater than 45,Other,1,0,0,0,Low,1,0,0,0
1,3,Male,34,25 - 45,African-American,3,0,1,1,Low,1,0,1,1
2,4,Male,24,Less than 25,African-American,4,4,1,0,Low,3,4,0,1
3,5,Male,23,Less than 25,African-American,8,1,0,0,High,6,1,0,0
4,6,Male,43,25 - 45,Other,1,2,0,0,Low,1,2,0,0

In [25]:
#Check if some columns hold same values and if columns have empty values

if compas_2['is_recid'].equals(compas_2['two_year_recid']):
  print("same")
else:
  print("not same")

missing_values = compas_2.isna()
print(missing_values.sum())

not same
id                  0
sex                 0
age                 0
age_cat             0
race                0
decile_score        0
priors_count        0
is_recid            0
is_violent_recid    0
score_text          0
v_decile_score      0
priors_count.1      0
event               0
two_year_recid      0
dtype: int64

In [26]:
compas_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7214 non-null   int64
 1   sex               7214 non-null   object
 2   age               7214 non-null   int64
 3   age_cat           7214 non-null   object
 4   race              7214 non-null   object
 5   decile_score      7214 non-null   int64
 6   priors_count      7214 non-null   int64
 7   is_recid          7214 non-null   int64
 8   is_violent_recid  7214 non-null   int64
 9   score_text        7214 non-null   object
 10  v_decile_score    7214 non-null   int64
 11  priors_count.1    7214 non-null   int64
 12  event             7214 non-null   int64
 13  two_year_recid    7214 non-null   int64
dtypes: int64(10), object(4)
memory usage: 789.2+ KB

Change Objects to Categories

In [27]:
compas_2 = pd.get_dummies(compas_2, columns=['sex', 'age_cat', 'race'])
compas_2.info()
print(compas_2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7214 non-null   int64
 1   age                      7214 non-null   int64
 2   decile_score             7214 non-null   int64
 3   priors_count             7214 non-null   int64
 4   is_recid                 7214 non-null   int64
 5   is_violent_recid         7214 non-null   int64
 6   score_text               7214 non-null   object
 7   v_decile_score           7214 non-null   int64
 8   priors_count.1           7214 non-null   int64
 9   event                    7214 non-null   int64
 10  two_year_recid           7214 non-null   int64
 11  sex_Female               7214 non-null   uint8
 12  sex_Male                 7214 non-null   uint8
 13  age_cat_25 - 45          7214 non-null   uint8
 14  age_cat_Greater than 45  7214 non-null   uint8
 15  age_cat_Less than 25     7214 non-null   uint8
 16  race_African-American    7214 non-null   uint8
 17  race_Asian               7214 non-null   uint8
 18  race_Caucasian           7214 non-null   uint8
 19  race_Hispanic            7214 non-null   uint8
 20  race_Native American     7214 non-null   uint8
 21  race_Other               7214 non-null   uint8
dtypes: int64(10), object(1), uint8(11)
memory usage: 697.6+ KB
         id  age  decile_score  priors_count  is_recid  is_violent_recid  \
0         1   69             1             0         0                 0
1         3   34             3             0         1                 1
2         4   24             4             4         1                 0
3         5   23             8             1         0                 0
4         6   43             1             2         0                 0
...     ...  ...           ...           ...       ...               ...
7209  10996   23             7             0         0                 0
7210  10997   23             3             0         0                 0
7211  10999   57             1             0         0                 0
7212  11000   33             2             3         0                 0
7213  11001   23             4             2         1                 0

     score_text  v_decile_score  priors_count.1  event  ...  sex_Male  \
0           Low               1               0      0  ...         1
1           Low               1               0      1  ...         1
2           Low               3               4      0  ...         1
3          High               6               1      0  ...         1
4           Low               1               2      0  ...         1
...         ...             ...             ...    ...  ...       ...
7209     Medium               5               0      0  ...         1
7210        Low               5               0      0  ...         1
7211        Low               1               0      0  ...         1
7212        Low               2               3      0  ...         0
7213        Low               4               2      0  ...         0

      age_cat_25 - 45  age_cat_Greater than 45  age_cat_Less than 25  \
0                   0                        1                     0
1                   1                        0                     0
2                   0                        0                     1
3                   0                        0                     1
4                   1                        0                     0
...               ...                      ...                   ...
7209                0                        0                     1
7210                0                        0                     1
7211                0                        1                     0
7212                1                        0                     0
7213                0                        0                     1

      race_African-American  race_Asian  race_Caucasian  race_Hispanic  \
0                         0           0               0              0
1                         1           0               0              0
2                         1           0               0              0
3                         1           0               0              0
4                         0           0               0              0
...                     ...         ...             ...            ...
7209                      1           0               0              0
7210                      1           0               0              0
7211                      0           0               0              0
7212                      1           0               0              0
7213                      0           0               0              1

      race_Native American  race_Other
0                        0           1
1                        0           0
2                        0           0
3                        0           0
4                        0           1
...                    ...         ...
7209                     0           0
7210                     0           0
7211                     0           1
7212                     0           0
7213                     0           0

[7214 rows x 22 columns]

In [28]:
compas_2.to_csv('cleaned_compas_data.csv', index=False)